<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GAEA</h1>
    <h1>El personaje {{ data.name }} y está {{ data.status}}</h1>
    <img src="{{ data.image }}" alt="">
    <h1>El personaje {{ data2.name }} y está {{ data2.status}}</h1>
    <img src="{{ data2.image }}" alt="">

    <h1>{{ life }}</h1>
    <h1>{{ personajes }}</h1>
</body>
</html>